spring:
    application:
        name: processor
logging:
  file: logs/dev_app.log
  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    org.springframework.web: ERROR
    guru.springframework.controllers: ERROR
    org.hibernate: ERROR
    com.flytxt: DEBUG

server:
    port: 9001

compiler:
  getScript: /
  getJar: /getJar
  remoteHost: http://localhost:9000
  hostName: demo
